/flask_session/
__pycache__


# project files incompleted
movies.db
movies.csv

/components/database/movie_search_map.py

/components/interactor/use_cases.py

/projects/functions.py
/projects/github.py
/projects/movie.py

/templates/movie_search.html
/templates/movie_detail.html
/templates/github.html