{% extends "layout.html" %}

{% block head %}

    <title>Project Selection</title>

{% endblock %}


{% block body %}
    <div style="display: flex; justify-content: center; align-content: center; column-gap: 30px; row-gap: 15px; flex-wrap: wrap; height: 500px">
        <div class="sig-linkedin">
        <a class="sig-links" href="https://www.linkedin.com/in/keithbaranzini">linkedin/in/keithbaranzini</a>
        </div>
        <div class="sig-gmail">
            ObsidianCloud25@gmail.com
        </div>
    </div>

{% endblock %}