{% extends "layout.html" %}

{% block head %}

    <title>Diagram</title>

{% endblock %}


{% block body %}
<h3 style="display: flex; align-content: center; justify-content: center;">Inspired by Bob Gregory(uncle bob)</h3>
<div id="diagram-summary">This is my outlook on 'Clean Architecture'. My portfolio matches up
    to the diagram to a T. I did add my own validation as the other systems use
    strictly the entity model for validation rather than custom schemes.
</div>
<div id="diagram">

</div>
{% endblock %}
