{% extends "layout.html" %}

{% block head %}

    <title>Diagram</title>

{% endblock %}

{% block body %}
<h3 style="display: flex; align-content: center; justify-content: center;">Inspired by Bob Gregory(uncle bob)</h3>

<div id="diagram-cntr">
    <div id="diagram-summary">This is my outlook on 'Clean Architecture'. 
        My portfolio is visually depicted by the following diagram. I did 
        add my own validation as other systems use the entity model for 
        validation rather than custom schemas. Even so, you will notice 
        that everything flows into the business layer.
    </div>
    <div id="diagram">
    </div>
</div>
{% endblock %}
